<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="/path/to/jquery.min.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- header -->
    <%- include('header') %>
    <!-- header -->


    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div> 
                <div class="col-lg-9">
                    <div class="hero__slider owl-carousel">
                        <div class="hero__item set-bg" data-setbg="/img/hero/laptop_banner-msi-800-x-400-t12.webp">  
                        </div>
                        <div class="hero__item set-bg" data-setbg="/img/hero/thang_10_banner_man_hinh_web_slider_800x400.webp">
                        </div>
                        <div class="hero__item set-bg" data-setbg="/img/hero/thang_11_laptop_vivobook_s_gearvn__800x400_.webp"> 
                        </div>
                        <div class="hero__item set-bg" data-setbg="/img/hero/thang_11_laptop_asus_rog800x400.webp"> 
                        </div>
                        <div class="hero__item set-bg" data-setbg="/img/hero/thang_11_pc_gvn_z890xcooler-800x400px.webp"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
   

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-1.jpg">
                            <h5><a href="#">Ram</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-2.jpg">
                            <h5><a href="#">Màn Hình</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-3.jpg">
                            <h5><a href="#">laptop</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-4.jpg">
                            <h5><a href="#">PC</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-5.jpg">
                            <h5><a href="#">Nguồn</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>CPU</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <% latestProducts.forEach(product => { %>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="/img/product/<%= product.image %>" alt="<%= product.name %>">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%= product.name %></h6>
                                            <span><%= formatCurrency(product.price) %></span>
                                        </div>
                                    </a>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>MainBoad</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <% topRatedProducts.forEach(product => { %>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="/img/product/<%= product.image %>" alt="<%= product.name %>">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%= product.name %></h6>
                                            <span><%= formatCurrency(product.price) %></span>
                                        </div>
                                    </a>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Laptop</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <% reviewProducts.forEach(product => { %>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="/img/product/<%= product.image %>" alt="<%= product.name %>">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%= product.name %></h6>
                                            <span><%= formatCurrency(product.price) %></span>
                                        </div>
                                    </a>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    

    <!-- footer -->
    <%- include('footer') %>
    <!-- footer -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
        $(document).ready(function(){
            $('.hero__slider').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                items: 1,
                autoplay: true,
                autoplayTimeout: 2400, // thời gian giữa các slide
                autoplayHoverPause: true,
                onTranslate: function(event) {
                    // Xóa hiệu ứng trước đó
                    $('.hero__text').removeClass('animate__fadeInLeft');
                },
                onTranslated: function(event) {
                    // Thêm hiệu ứng cho slide mới
                    $('.hero__text').addClass('animate__fadeInLeft');
                }
            });
        });
        </script>

</body>

</html>